.hidden {
    display: none !important
}

form {
    font-size: 20px;
    line-height: 1.6;
    color: #000;
    letter-spacing: 0px;
    width: 354.78px;
    display: flex;
    flex-direction: column
}

form .form-control {
    display: flex;
    align-items: center;
    height: 45px;
    font-size: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 4px;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: #ed3051;
    box-shadow: #000 0px 15px 16px -18px
}

form .form-control .input-cache {
    display: flex
}

form .form-control span {
    width: 50px;
    border-right: 1px solid #ed3051;
    height: 100%;
    display: inline-block
}

form .form-control span svg {
    width: 50px;
    height: 20px;
    padding-top: 13px
}

form .form-control input {
    background-color: rgba(0,0,0,0);
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 46px;
    padding: 0 5px;
    font-size: inherit;
    border: none;
    padding-left: 15px
}

form .form-control input:focus {
    outline: none
}

form .form-control div {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 46px;
    line-height: 46px;
    color: rgba(102,102,102,.8470588235);
    font-family: sans-serif;
    outline: none
}

form .form-control .div-input {
    padding-left: 10px;
    color: #000
}

form .form-control .div-input::-moz-placeholder {
    color: rgba(102,102,102,0.8470588235)
}

form .form-control .div-input::placeholder {
    color: rgba(102,102,102,0.8470588235)
}

form .form-control .div-input::before {
    color: rgba(102,102,102,0.8470588235)
}

form .form-submit {
    transition: all 150ms linear 0s
}

form .form-submit .button-wrapper {
    width: 80%;
    margin: auto;
    transition: all 150ms linear 0s;
    background-color: #d3285c;
    border: 0;
    border-radius: 50px
}

form .form-submit .button-wrapper:not(.disable) {
    animation-name: pulse;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-iteration-count: infinite
}

form .form-submit .button-wrapper.disable {
    pointer-events: none
}

form .form-submit .button-wrapper button {
    width: 100%;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.6;
    background: rgba(0,0,0,0);
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    border: none;
    height: 54px;
    cursor: pointer
}

div[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    position: absolute;
    background-color: rgba(0,0,0,0);
    font-family: Arial,Helvetica,sans-serif
}

#overlay {
    display: none
}

#overlay.active {
    display: block;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(102,102,102,.6196078431);
    left: 0;
    pointer-events: none;
    z-index: 99999999999
}

#overlay svg {
    width: 50px;
    height: 50px;
    top: 35%;
    left: 45%;
    position: absolute;
    animation-name: spin;
    animation: spin 1.5s linear infinite
}

#skycomkeyboard {
    position: fixed;
    width: 418.833px;
    z-index: 99999909;
    bottom: 10px;
    transform: translateY(110%)
}

#skycomkeyboard.active {
    display: block;
    transform: translateY(5%);
    transition: transform .3s
}

#skycomkeyboard .simple-keyboard.hg-theme-default {
    background-color: #bfbdbd
}

#skycomkeyboard .simple-keyboard .hg-button {
    font-size: 24px !important;
    touch-action: none !important
}

#skycomkeyboard .simple-keyboard .hg-button[data-skbtn="{bksp}"] {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    font-size: 20px !important
}

#skycomkeyboard .simple-keyboard .hg-button[data-skbtnuid=default-r3b0] {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    font-size: 20px !important
}

#skycomkeyboard .simple-keyboard .hg-activeButton {
    background-color: #666
}

@keyframes pulse {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.1)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}
