input {
  color: #000 !important;
}

form {
  flex-direction: row;
  width: 414px;
}

.form-control {
  width: 250px;
}

.form-submit {
  width: 110px;
}

.button-wrapper {
  border-radius: 3px !important;
}

button {
  height: 46px !important;
  font-size: 14px !important;
}

#errorMessage {
  font-size: 14px;
  color: #e74c3c;
  width: 400px;
}
