.hidden,
.grecaptcha-badge {
  display: none !important;
}

form {
  font-size: 20px;
  line-height: 1.6;
  color: rgb(0, 0, 0);
  letter-spacing: 0px;
  width: 354.78px;
  display: flex;
  flex-direction: column;
  .form-control {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 15px;
    height: 45px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(237, 48, 81);
    box-shadow: rgb(0, 0, 0) 0px 15px 16px -18px;
    .input-group {
      height: 100%;
    }
    input {
      text-transform: inherit;
      text-decoration: inherit;
      text-align: inherit;
      letter-spacing: inherit;
      color: inherit;
      background-size: inherit;
      background-attachment: inherit;
      background-origin: inherit;
      background-color: transparent;
      min-width: 100%;
      min-height: 100%;
      max-width: 100%;
      max-height: 100%;
      width: 100%;
      height: 100%;
      padding: 0 5px;
      color: inherit;
      font-size: inherit;
      border: none;
      &:focus {
        outline: none;
      }
    }
  }
  select {
    background-color: transparent;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    padding: 0 5px;
    color: inherit;
    font-size: inherit;
    border: none;
    outline: none;
    appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
    padding-right: 2rem;
  }
  .form-submit {
    color: initial;
    font-size: initial;
    font-weight: initial;
    text-transform: initial;
    text-decoration: initial;
    font-style: initial;
    text-align: initial;
    letter-spacing: initial;
    line-height: initial;
    transition: all 150ms linear 0s;
    .button-wrapper {
      width: 80%;
      margin: auto;
      transition: all 150ms linear 0s;
      background-color: rgb(211, 40, 92);
      border: 0;
      border-radius: 50px;
      &:not(.disable) {
        animation-name: pulse;
        animation-delay: 0s;
        animation-duration: 1s;
        animation-iteration-count: infinite;
      }
      &.disable {
        pointer-events: none;
      }
      button {
        width: 100%;
        font-size: 26px;
        font-weight: bold;
        line-height: 1.6;
        background: transparent;
        text-align: center;
        cursor: pointer;
        user-select: none;
        color: rgb(255, 255, 255);
        display: table-cell;
        vertical-align: middle;
        border: none;
        height: 54px;
        cursor: pointer;
      }
    }
  }
}

#reload {
  animation-name: spin;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  width: 32px;
  height: 32px;
  transition: all 1s;
  svg {
    width: 32px;
  }
  z-index: 9999;
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
